body {
  background-color: hsl(0, 0%, 10%);
}

.to-do-list {
  font-family: arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 4rem;
  color: aqua;
}

button {
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5 ease;
}

.add-btn {
  background-color: hsl(125, 47%, 54%);
  margin-left: 40px;
  padding: 15px;

}

.add-btn:hover {
  background-color: hsl(125, 47%, 44%);
}

.delete-btn {
  background-color: hsl(10, 90%, 50%);
}

.delete-btn:hover {
  background-color: hsl(10, 90%, 40%);
}

.move-btn {
  background-color: hsl(182, 100%, 71%);
}

.move-btn:hover {
  background-color: hsl(182, 100%, 71%);
}

input {
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid hsl(0, 0%, 80%, 0.5);
  border-radius: 5px;
  color: black;
}

ol {
  padding: 0;
  margin: 50px;
}

li {
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: whitesmoke;
  margin-bottom: 10px;
  border: 3px solid hsl(0, 0%, 75%, 0.75);
  border-radius: 5px;
  display: flex;
  align-items: center;
  color: rgb(111, 202, 37);
}

.text {
  flex: 1;
}

.delete-btn,
.move-btn {
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}
